/* Common css Start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    font-family: 'Open Sans', sans-serif;
 }
 a{
    text-decoration: none;
 }
 ul{
    list-style-type: none;
 }
 .container {
   width: 1170px;
   margin: auto;
 }
 /* Common css End */



 /* nav section start */

nav {
   background-color: #02918b;
}
nav .container {
   display: flex;
   align-items: center;
 
}
nav .logo {
   width: 20%;

}
nav .menu {
   width: 80%;
}
nav .menu ul {
   display: flex;
   justify-content: flex-end;
}
nav .menu ul li a {
   display: inline-block;
   color: white;
   font-size: 12px;
   font-weight: 800;
   padding: 26px 25px;
   text-transform: uppercase;
   transition: 0.6s;
}
nav .menu ul li a:hover{
   background-color: black;
   color: #cfc91d;
}
   
/* nav section end */


/* banner section start  */

.banner {
   background-image: url(../pic/banner.jpg);
   height: 728px;
   background-size: cover;
   background-position: center;
   text-align: center;
   color: white;
   position: relative;
   z-index: 1;
}
.banner::before{
   position: absolute;
   content: '';
   background-color: black;
   height: 100%;
   width: 100%;
   opacity: 0.66;
   left: 0;
   top: 0;
   z-index: -1;
}
.banner .container {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.banner .banner_container h3 {
   font-size: 30px;
   font-weight: 400;
}
.banner .banner_container h1 {
   font-size: 68px;
   font-weight: 800;
   letter-spacing: 30px;
   text-transform: uppercase;
}
.banner .banner_container img {
   display: block;
   margin:53px auto;
}
.banner .banner_container a {
   display: inline-block;
   background-color: #cfc91d;
   font-size: 14px;
   font-weight: 800;
   color: black;
   letter-spacing: 6px;
   text-transform: uppercase;
   padding: 19px 38px;
   transition: 0.7s;
}

.banner .banner_container a:hover {
   background-color: black;
   color: white;
}







